<div class="w-75">
  <h1>顧客一覧</h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">名前</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">電話番号</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <th><%= user.name %></th>
        <th><%= user.email %></th>
        <th><%= user.phone %></th>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users%>
</div>
