<div class="w-75">
  <h1>顧客一覧</h1>

    <div class="w-75">
      <%= form_with model:@users, url: dashboard_users_path, method: :get do |f| %>
        <div class="d-flex align-items-center">
          ID•氏名など
        </div>
        <%= f.text_area :keyword, class: "form_controll ml-2 w-50" %>
        <%= f.submit "検索", class: "btn samazon-submit-button" %>
      <% end %>
    </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</td>
        <th scope="col">名前</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">電話番号</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= user.id %></th>
        <th><%= user.name %></th>
        <th><%= user.email %></th>
        <th><%= user.phone %></th>
        <td>
          <%= form_with model: user, url: dashboard_users_path, local: true do |f| %>
            <% if user.deleted_flg %>
              <%= f.submit "復帰", class: "btn dashboard-delete-link" %>
            <% else %>
              <%= f.submit "削除", class: "btn dashboard-delete-link" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @users%>
</div>
