<div class="w-75">
  <%= form_with(model: @major_cateogry, url: dashboard_major_cateogires_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name, "親カテゴリ名" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form_group">
      <%= f.label :description, "親カテゴリの説明" %>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "+新規作成", class: "btn samazon-submit" %>
    </div>
  <% end %>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col" class="w-25">ID</th>
        <th scope="col">カテゴリ</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% if @major_cateogries.present? %>
        <% @major_cateogries.each do |major_cateogry| %>
        <tr>
          <td scope="row"><%= major_cateogry.id %></td>
          <td><%= major_category.name %></td>
          <td>
            <%= link_to "編集", edit_dashboard_major_cateogry_path(major_cateogry), class: "dashboard-edit-link" %>
          </td>
          <td>
            <%= link_to "削除", dashboard_major_cateogry_path(major_cateogry), method: :delete,
            onclick: "event.preventDefault(); document.getElementById('logout-form').submit", class: "dashboard-edit-link" %>
          </td>
          <%= form_with(model: @major_category, url: dashboard_major_cateogires_path(major_category), method: :delete, local: true, id: "logput-form") do |f| %>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @major_cateogries %>
</div>
